<nav>
<ul>
    <li><a href="/foro/miPerfil">Mi perfil</a></li>
    <li><a href="../verPersonajes">Ver personajes</a></li>

    <li><a href="../contactanos">Contactanos</a></li>
    <li><a href="../nosotros">Nosotros</a></li>
    <li><a href="../sobreBB">Sobre Breaking Bad</a></li>

</ul>
</nav>