<footer class="footer">

<ul class="footer-items-container">
    <li><a class="footer-items" href="../contactanos">Contactanos</a></li>
    <li><a class="footer-items" href="../nosotros">Nosotros</a></li>
    <li><a class="footer-items" href="../sobreBB">Sobre Breaking Bad</a></li>
</ul>
</footer>