{{>header}}
<div class="foro-container">

<aside>
<h1 class="user-name">{{user.userName}}</h1>
<ul class="aside-menu">
    <li class="menu-item"><a href="/miPerfil">Mi perfil</a></li>
    <li class="menu-item"><a href="../verPersonajes">Ver personajes</a></li>
    <li class="menu-item"><a href="/foro">Volver al foro</a></li>
    <li class="menu-item"><a href="/logout">Cerrar sesión</a></li>
</ul>
</aside>

<div class="info-container">
    <h2 class="foro-text">Better Call Saul</h2>
    <p class="foro-text">Better Call Saul es una serie de televisión estadounidense de drama creada por Vince Gilligan y Peter Gould,
 derivada (spin-off) de Breaking Bad (2008-2013), también creada por Gilligan y de la que constituye a la vez una
 precuela y secuela. Ambientada entre principios y mediados de la década de 2000, la serie sigue la historia de Jimmy McGill, un estafador
 convertido en abogado y que posteriormente sería conocido como Saul Goodman. La narración comienza seis años antes de los
 eventos de Breaking Bad y muestra la transformación de McGill de ex-estafador de poca monta hasta convertirse en el abogado
 Saul Goodman, uno de los personajes principales de Breaking Bad. La serie también explora parte del pasado de Mike 
Ehrmantraut y las circunstancias que lo llevaron a convertirse tanto en la mano derecha del narcotráficante Gus Fring como 
en el detective privado al que McGill usualmente recurre en Breaking Bad.</p>
       <p class="foro-text final-text">El programa se estrenó en el canal AMC el 8 de febrero de 2015 y finalizó el 15 de agosto de 2022. 
        Netflix emite la serie en varios países y Movistar Series en España.</p>

    
    <h2 class="foro-text">Resumen</h2>
    <p class="foro-text final-text">Better Call Saul sigue la transformación de Jimmy McGill, 
        un ex estafador que intenta convertirse en un abogado respetable, a la personalidad del extravagante
         abogado penalista Saul Goodman (un juego de palabras con la frase "[it]'s all good, man!"), seis
          años antes de aliarse con Walter White en Breaking Bad.
Inspirado en su hermano mayor Chuck, Jimmy McGill trabaja inicialmente como un paupérrimo abogado, 
instalado en la trastienda de un salón de belleza que utiliza como hogar y oficina. Su amiga, con la que mantiene
 una relación romántica, Kim Wexler, trabaja como abogada en el bufete Hamlin, Hamlin & McGill
  (HHM), donde ella y Jimmy coincidieron trabajando. Su desarrollo como abogado lo involucran en la práctica
   del derecho de personas mayores, hasta interacciones con el mundo criminal; a la vez debe enfrentar el
    menosprecio tanto del socio de Chuck, Howard Hamlin como de su propio hermano. Jimmy, finalmente,
     asume la personalidad del extravagante y colorido Saul Goodman, y comienza a recurrir a su pasado 
     de estafador mientras su trabajo como abogado pasa de cuestionable a poco ético e ilegal.</p>

    <h2 class="foro-text">Elenco y producción</h2>
    <p class="foro-text">
<ul class="foro-text final-text">
<li>Bob Odenkirk como James "Jimmy" McGill / Saul Goodman / Gene Takavic.</li>
<li>Jonathan Banks como Mike Ehrmantraut.</li>
<li>Rhea Seehorn como Kim Wexler.</li>
<li>Patrick Fabian como Howard Hamlin.</li>
<li>Michael Mando como Ignacio «Nacho» Varga.</li>
<li>Michael McKean como Chuck McGill.</li>
<li>Giancarlo Esposito como Gus Fring.</li>
<li>Tony Dalton como Lalo Salamanca.</li>
</ul>
        
    
</p>

</div>
</div>

{{>footer}}