<div>

<form action= "/contactanos"  id="formElem" method="POST">
    <label for="userName">Nombre de usuario:</label>
<input id="userName" type="text" name="userName" value="{{user.userName}}" readonly>


    <label for="email">Email:</label>
 <input id="email" type="text" name="email" value="{{user.email}}" readonly>  

   <textarea name="msg"></textarea>
 <input id="msg" type="hidden" name="msg"> 

<input type="submit" value="enviar">
</form>

</div>

<a href="/foro">Volver</a>