{{>header}}

<div class="form-container">

<form action= "/contactanos"  id="formElem" method="POST">
    <label for="userName">Nombre de usuario:</label>
<input class="form-input" id="userName" type="text" name="userName" value="{{user.userName}}" readonly>


    <label for="email">Email:</label>
 <input class="form-input" id="email" type="text" name="email" value="{{user.email}}" readonly>  

   <textarea autofocus name="msg"></textarea>
 <input id="msg" type="hidden" name="msg"> 
</div>

<div class="btn-container">
<input class="input-btn" type="submit" value="Enviar">
<a class="btn" href="/foro">Volver</a>
</div>

</form>


{{>footer}}