

<aside>
<h1>{{user.userName}}</h1>
<ul>
    <li><a href="/miPerfil">Mi perfil</a></li>
    <li><a href="../verPersonajes">Ver personajes</a></li>
    <li><a href="/logout">Cerrar sesión</a></li>
</ul>
</aside>

{{>footer}}
