{{>header}}
<div class="foro-container">

<aside>
<h1 class="user-name">{{user.userName}}</h1>
<ul class="aside-menu">
    <li class="menu-item"><a href="/miPerfil">Mi perfil</a></li>
    <li class="menu-item"><a href="../verPersonajes">Ver personajes</a></li>
    <li class="menu-item"><a href="/logout">Cerrar sesión</a></li>
</ul>
</aside>

<div class="info-container">
    <h2 class="foro-text">Breaking Bad</h2>
    <p class="foro-text">
      Breaking Bad es una serie de televisión dramática estadounidense que arra la historia de Walter White, un profesor de química con problemas 
      económicos a quien le diagnostican un cáncer de pulmón inoperable. Para pagar su tratamiento y asegurar el futuro económico de su familia, 
      comienza a cocinar y vender metanfetamina,​ junto con Jesse Pinkman, un antiguo alumno suyo. La serie, ambientada y producida en Albuquerque
       (Nuevo México), se caracteriza por sus escenarios desérticos y por la tendencia en la historia de poner a sus personajes en situaciones que 
       aparentemente no tienen salida, lo que llevó a que su creador la describa como un wéstern contemporáneo. </p>
       <p class="foro-text"> Breaking Bad ha sido aclamada con entusiasmo por buena parte de la crítica​ y del público, y está considerada como una de las mejores series
        televisivas de todos los tiempos.</p>
        <p class="foro-text final-text"> La serie logró obtener tres años consecutivos el premio a la mejor serie por parte de los Premios WGA y ha ganado dieciséis premios 
        Primetime Emmy, incluyendo cuatro galardones para Bryan Cranston en la categoría de mejor actor; tres para Aaron Paul al mejor actor
         de reparto; dos para Anna Gunn como mejor actriz de reparto; y otros dos como mejor serie dramática después de tres nominaciones. 
         La serie también fue nominada a los premios Globo de Oro como mejor serie dramática y Cranston recibió tres nominaciones a mejor 
         actor, además de cuatro ternas más en los premios del Sindicato de Actores en la misma categoría; en 2013 se alzó con el premio. En
          ese mismo año, el Gremio de Guionistas de los Estados Unidos nombró a Breaking Bad como la decimotercera serie mejor guionada de 
          todos los tiempos. En septiembre, fue incorporada al Libro Guinness de los récords como la serie mejor valorada de la historia, 
          con una puntuación de 99 sobre 100 en Metacritic en su quinta temporada. Stephen King la calificó como la mejor serie de televisión
           de la historia. </p>


    

    <h2 class="foro-text">Resumen</h2>
    <p class="foro-text final-text">

   Tras cumplir 50 años, Walter White, un profesor de química de un instituto de Albuquerque, 
   Nuevo México, se entera de que tiene un cáncer de pulmón incurable. Casado con Skyler y con un hijo
    discapacitado, la brutal noticia lo impulsa a dar un drástico cambio a su vida: decide, con la ayuda de un
     antiguo alumno, fabricar anfetaminas y ponerlas a la venta. Lo que pretende es liberar a su familia de
      problemas económicos cuando se produzca el fatal desenlace.
    </p>

    <h2 class="foro-text">Elenco y producción</h2>
    <p class="foro-text">
<ul class="foro-text final-text">
    <li>Breaking Bad fue creada por Vince Gilligan.</li>
    <li>Bryan Cranston como Walter White/Heisenberg</li>
    <li>Anna Gunn como Skyler White</li>
    <li>Aaron Paul como Jesse Pinkman</li>
    <li>Dean Norris como Hank Schrader</li>
    <li>Betsy Brandt como Marie Schrader</li>
    <li>RJ Mitte como Walter White, Jr.</li>
    <li>Bob Odenkirk como Saul Goodman </li>
    <li>Giancarlo Esposito como Gus Fring </li>
    <li>Jonathan Banks como Mike Ehrmantraut </li>
    <li>Laura Fraser como Lydia Rodarte-Quayle </li>
    <li>Jesse Plemons como Todd Alquist </li>
</ul>
        
    
</p>

</div>
</div>

{{>footer}}
