<h1>BreakingArg</h1>

<h3>Bienvenidos a BreakingArg, un sitio para debatir acerca de la mejor serie de la historia
</h3>


<div>

<form action= "/foro" method="post" id="formElem">
    <label for="firstName">Usuario</label>
<input id="usuario" type="text" name="usuario">


    {{!-- <label for="email">Email</label>
 <input id="email" type="text" name="email">   --}}

   <label for="password">Contraseña</label>
 <input id="pasword" type="password" name="pasword"> 

<input type="submit" value="Iniciar Sesión">
<a href="./registrate">Registrate</a>
</form>


</div>


{{>footer}}