{{>header}}
<h3>Bienvenidos a BreakingArg, un sitio para debatir acerca de la mejor serie de la historia
</h3>
<p>{{message}}</p>
{{#if user}}
<p><a href="/foro">Volvé al foro</a></p>
{{else}}
<a href="/loginForm">Iniciar sesión</a>
<a href="/registrate">Registrate</a>
{{/if}}

{{>footer}}