{{>header}}
<div class="form-container">

<form action= "/loginForm" method="post" id="formElem">
    <label for="userName">Usuario</label>
<input class= 'form-input' id="userName" type="text" name="userName">

   <label for="pass">Contraseña</label>
 <input class= 'form-input' id="pass" type="password" name="pass"> 
<p class="err-message">{{message}}</p>
</div>

<div class="btn-container">
<input class="input-btn" type="submit" value="Iniciar Sesión">
<a href="./registrate" class="btn">Registrate</a>
</form>


</div>
{{>footer}}
