{{>header}}
<div>

<form action= "/loginForm" method="post" id="formElem">
    <label for="email">Email</label>
<input id="email" type="email" name="email">

   <label for="password">Contraseña</label>
 <input id="pasword" type="password" name="pass"> 

<input type="submit" value="Iniciar Sesión">
<a href="./registrate">Registrate</a>
</form>


</div>
{{message}}
{{>footer}}
